/* Large screen sidebar */
.sidebar.vertical-sidebar {
  height: 100vh;
  position: fixed;
  top: 56px; /* below navbar */
  left: 0;
  background-color: #212529; /* Match bg-dark */
  transition: width 0.3s;
  overflow-x: hidden;
  z-index: 1020;
}

.sidebar.vertical-sidebar.collapsed {
  width: 60px;
}

.sidebar.vertical-sidebar.expanded {
  width: 220px;
}

.sidebar.vertical-sidebar .toggle-btn {
  position: absolute;
  top: 25px;
 right: 15px;
  background-color: #343a40;
  border-radius: 50%;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6c757d;
  cursor: pointer;
   z-index: 1051;
}

/* Bottom bar for small devices */
.sidebar.bottom-sidebar {
  z-index: 1050;
}
